.outer-div {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    /* 64px */
    margin-bottom: 4rem;
    /* 64px */
  }
  
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5px;
  }
  
  .header button {
    margin-left: auto;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4299e1;
    color: #ffffff;
    border-radius: 0.375rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
  
  }
  
  .edit-btn:hover,
  .edit-btn:focus {
    background-color: #3182ce;
    /* Change background color on hover/focus */
  }
  
  .header h3 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #4a5568;
    margin-bottom: 0.5rem;
  
  
  }
  
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem; 
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  
  }
  .main-div > * {
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 
  }
  
  .userdetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .userdetails .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .userdetails .name{
    font-size: 1.25rem;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .userdetails .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .userdetails .box .credentials {
    padding-left: 10px;
  }
  
  .single-row {
    display: flex;
    align-items: center;
  }
  
  .single-row .value {
    margin-left: auto;
  }
  
  .single-row .key {
    padding-left: 10px;
  }
  .single-row .icon{
    margin-right: 0.75rem;
  }